.account-list-grid {
    display: grid;
    place-items: center;
    height: 100vh; /* Занять всю высоту экрана */
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accountItem {
    display: flex;
    border: 1px solid black;
    background-color: aquamarine;
    height: 100px;
    position: relative;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.accountImage {
    position: relative;
}

.accountInfo {
    position: relative;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    padding: 15px;
}
.accountTitle {
    height: 10px;
    font-weight: bold;
}
.accountPhone {
    height: 10px;
    font-size: 18px;
}
.accountUsername {
    height: 10px;
    font-size: 18px;
}

.accountItem.addNew {
    margin-top: 15px;
    height: 70px;
    opacity: 0.6;
    background-color: gray;
    display: grid;
}

#addNewAccountIcon {
    position: relative;
}

#addNewAccountText {
    position: relative;
}